h1 {
    margin: 20px;
    font: caption;
    font-size: 30px;
   
}

p{
    margin: 20px;
    font-size: 25px;
}

.button-ok {
    margin: 20px;
    background-color: green;
    font-size: larger;
}

.button-cancel {
    background-color: red;
    font-size: larger;
    margin: 20px;

}

.button-reset {
    margin: 20px;
}
.button-reset--hide {
    display: none;
}
.button-reset--show {
    display: inline-block;
}

.container {
    margin: auto;
    width: 40%;

}